RewriteEngine On
RewriteBase /
RewriteRule ^error/?$ index.php?controller=book&action=error [L]
RewriteRule ^books/?$ index.php?controller=book&action=showAll [L]
RewriteRule ^book/update/?$ index.php?controller=book&action=showUpdateForm [L]
RewriteRule ^book/add/?$ index.php?controller=book&action=showAddForm [L]
RewriteRule ^users/?$ index.php?controller=user&action=showAllUsers [L]
RewriteRule ^user/add/?$ index.php?controller=user&action=showAddFormUser [L]
RewriteRule ^user/update/?$ index.php?controller=user&action=showUpdateFormUser [L]
RewriteRule ^user/delete/?$ index.php?controller=user&action=sendDeleteUser [L]
RewriteRule ^signup/?$ index.php?controller=user&action=signUp [L]
RewriteRule ^signin/?$ index.php?controller=user&action=signIn [L]
